<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
ex2
<br>
<span th:text="${list}"></span>
<br>

<span th:text="${set}"></span>

<span th:text="${map}"></span>
<br>
<span th:text="${map.a}"></span>
<span th:text="${map.b}"></span>
<hr>
<br>
<span th:text="${map2}"></span>
<hr>
<br>
<span th:text="${map2.sampleDTO}"></span>
<hr>
<br>
<span th:text="${map2.sampleDTO.s1}"></span>
<span th:text="${map2.sampleDTO.s2}"></span>
<span th:text="${map2.sampleDTO.s3}"></span>


</body>
</html>